<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.lifc.customerapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomerApp"
        tools:targetApi="31">
        <activity
            android:name=".PayNow"
            android:exported="false" />
        <activity
            android:name=".EmiSelection"
            android:exported="false" />
        <activity
            android:name=".CurrentDues"
            android:exported="false" />
        <activity
            android:name=".My_loan_info"
            android:exported="false" />
        <activity
            android:name=".activity.New_loan_request"
            android:exported="false" />
        <activity
            android:name=".activity.activity.Otp_Verify_Customer"
            android:exported="false" />
        <activity
            android:name=".activity.activity.Dashboard_Customer"
            android:exported="false" />
        <activity
            android:name=".activity.activity.ChooseLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.activity.IntroductionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.activity.LoginActivity"
            android:exported="false" />

        <receiver
            android:name=".activity.sms_auto.MySMSBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>